<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.filipebezerra.tastingsearchview" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/app_name" >

            <!-- Default, Launcher and Main Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Where is the SearchView Widget -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ui.activity.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SearchResultsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_search_results"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:parentActivityName=".ui.activity.HomeActivity" >

            <!-- To handle the search request -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- To enable e configure the HomeBottom -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".io.activity.HomeActivity" />

            <!-- To load searchable configurations -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Suggestions provider -->
        <provider
            android:name=".provider.SuggestionsProvider"
            android:authorities="io.github.filipebezerra.tastingsearchview.provider.SuggestionsProvider" />

        <activity
            android:name=".ui.activity.BaseActivity"
            android:label="@string/title_activity_base" />
    </application>

</manifest>
